@model Shopping.Areas.Admin.Models.ViewMembers.ViewLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>購物車平台管理系統</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- styles -->
	<link href="/admin/css/styles.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body class="login-bg">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Logo -->
					<div class="logo">
						<h1><a>購物車平台管理系統</a></h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content container" style="margin: auto;">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
					<div class="box">
						<div class="content-wrap">
							<h6>登入</h6>
                            <form asp-action="Index">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input class="form-control" asp-for="Account" type="text" placeholder="Account">
                                <span asp-validation-for="Account" class="text-danger"></span>
                                <input class="form-control" asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="action">
                                    <input type="submit" value="登入" class="btn btn-primary"/>
									<span style="color: red">@ViewBag.message</span>
                                </div>
                            </form>


						</div>
					</div>


				</div>
			</div>
		</div>
	</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/admin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/admin/js/custom.js"></script>
</body>
</html>